In [139]:
# utilities
import numpy as np
import pandas as pd
import string

# pre-preocessing utilties
import nltk
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from cleantext import clean
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
Since the GPL-licensed package `unidecode` is not installed, using Python's `unicodedata` package which yields worse results.

In [163]:
# Set file path
file_path = 'd:\\Varshini\\CourseWork\\Machine Learning\\project\\MachineLearning-group-project\\'

In [164]:
# Read the data set
df = pd.read_csv(file_path + 'tweets_india.csv')
df.columns = ['id', 'date', 'content']

print(df.head())

# Some information about the data set
print('Length of data set: ', len(df))
print('Shape of data set: ', df.shape)
print('Dataset information')
print('-------------------')
df.info()

# Check for null values - needs to be zero
np.sum(df.isnull().any(axis=1))

   id                       date  \
0   0  2022-09-09 20:45:28+00:00
1   1  2022-09-09 20:41:19+00:00
2   2  2022-09-09 19:25:57+00:00
3   3  2022-09-09 19:14:54+00:00
4   4  2022-09-09 19:13:38+00:00

                                             content
0  Have a nice night trip with T \r\nUK to Delhi....
1  May her soul RIP. As a nation we are with the ...
2  @SanjayAzadSln ‡§Ö‡§§‡•ç‡§Ø‡§Ç‡§§ ‡§¶‡•Å‡§ñ‡§¶ ‡§¶‡§ø‡§µ‡§Ç‡§ó‡§§ ‡§Ü‡§§‡•ç‡§Æ‡§æ ‡§ï‡•ã ‡§∂‡•ç‡§∞...
3  @firki07 Firki with queen üò≠ https://t.co/mhvgH...
4  @TuckerCarlson This so called great Britain lo...
Length of data set:  932
Shape of data set:  (932, 3)
Dataset information
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 932 entries, 0 to 931
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       932 non-null    int64
 1   date     932 non-null    object
 2   content  932 non-null    object
dtypes: int64(1), object(2)
memory usage: 22.0+ KB

0

In [165]:
# 1. Converting all text to lower case
def convert_to_lower_case(data_set):
    data_set['content'] = data_set['content'].str.lower()

convert_to_lower_case(df)
df.head()

,id,date,content
0,0,2022-09-09 20:45:28+00:00,have a nice night trip with t \r\nuk to delhi....
1,1,2022-09-09 20:41:19+00:00,may her soul rip. as a nation we are with the ...
2,2,2022-09-09 19:25:57+00:00,@sanjayazadsln ‡§Ö‡§§‡•ç‡§Ø‡§Ç‡§§ ‡§¶‡•Å‡§ñ‡§¶ ‡§¶‡§ø‡§µ‡§Ç‡§ó‡§§ ‡§Ü‡§§‡•ç‡§Æ‡§æ ‡§ï‡•ã ‡§∂‡•ç‡§∞...
3,3,2022-09-09 19:14:54+00:00,@firki07 firki with queen üò≠ https://t.co/mhvgh...
4,4,2022-09-09 19:13:38+00:00,@tuckercarlson this so called great britain lo...

In [166]:
# 2. Removing stop words (un-necessary words) - using nltk's pre-defined stop words

STOP_WORDS = set(stopwords.words('english'))
print('Stop word list:')
print('----------------')
print(STOP_WORDS)

def remove_stop_words(content):
   return " ".join([text for text in str(content).split() if text not in STOP_WORDS])

df['content'] = df['content'].apply(lambda content: remove_stop_words(content=content))
df.head()

Stop word list:
----------------
{'only', 'because', 'few', 'their', 'further', 'is', 'its', 'an', 'up', 'aren', 'herself', 'themselves', 'who', 'yours', 'here', 'shan', 's', 'or', 'yourselves', "you're", "that'll", "didn't", 'she', "doesn't", 'which', 'mustn', 'all', 'him', 'the', "you've", 'been', 'did', "you'll", 'against', 'will', "mightn't", 'couldn', 'yourself', 'you', 'not', 'over', "should've", 'those', "won't", 'it', 'until', "wouldn't", 'again', 'between', 'after', 'don', 'myself', 'these', 'll', 'needn', 'off', 'for', 'from', 'hers', "you'd", 'through', 'do', 'hasn', 'own', 'as', 'be', 'into', 'why', "aren't", "hadn't", 'her', "wasn't", 'below', 'me', 'other', 'during', 'once', 'them', 'he', 'this', 'mightn', 'down', 'same', "shouldn't", 'such', 'when', 'just', 'has', 'about', 'your', 'no', 'having', 'too', 'wasn', 'am', 'didn', 'his', 'then', 'haven', 'ourselves', 'had', 'while', 'they', 'to', 'y', 'by', "it's", 'so', 'each', 'are', "don't", 've', 'out', "needn't", 'being', 'i', 'now', 'my', "couldn't", 'a', 'were', 'there', "isn't", 'o', 'that', "hasn't", 'whom', 'what', 'and', 'our', "she's", 'd', 'any', 'most', 'where', 'wouldn', 'm', 't', 'hadn', 'above', 'himself', 'can', 'theirs', 'how', "shan't", 'but', 'does', 'weren', 're', 'itself', 'in', 'we', 'ours', 'more', 'very', 'with', 'than', 'doesn', 'have', 'isn', 'at', 'won', 'doing', 'both', 'nor', "mustn't", 'shouldn', 'on', "weren't", 'ain', 'under', 'should', 'before', 'ma', 'of', 'some', "haven't", 'was', 'if'}

,id,date,content
0,0,2022-09-09 20:45:28+00:00,nice night trip uk delhi. üòçüòçüòç https://t.co/7am...
1,1,2022-09-09 20:41:19+00:00,may soul rip. nation family fellow uk citizens...
2,2,2022-09-09 19:25:57+00:00,@sanjayazadsln ‡§Ö‡§§‡•ç‡§Ø‡§Ç‡§§ ‡§¶‡•Å‡§ñ‡§¶ ‡§¶‡§ø‡§µ‡§Ç‡§ó‡§§ ‡§Ü‡§§‡•ç‡§Æ‡§æ ‡§ï‡•ã ‡§∂‡•ç‡§∞...
3,3,2022-09-09 19:14:54+00:00,@firki07 firki queen üò≠ https://t.co/mhvgh7aqsc
4,4,2022-09-09 19:13:38+00:00,@tuckercarlson called great britain looted 45 ...

In [167]:
# 3. Removing URLs

def remove_URLS(content):
    return re.sub('((www.[^s]+)|(https?://[^s]+))',' ', str(content))

df['content'] = df['content'].apply(lambda content: remove_URLS(content=content))
df['content'].head()

0                      nice night trip uk delhi. üòçüòçüòç
1    may soul rip. nation family fellow uk citizens...
2    @sanjayazadsln ‡§Ö‡§§‡•ç‡§Ø‡§Ç‡§§ ‡§¶‡•Å‡§ñ‡§¶ ‡§¶‡§ø‡§µ‡§Ç‡§ó‡§§ ‡§Ü‡§§‡•ç‡§Æ‡§æ ‡§ï‡•ã ‡§∂‡•ç‡§∞...
3                           @firki07 firki queen üò≠  sc
4    @tuckercarlson called great britain looted 45 ...
Name: content, dtype: object

In [169]:
# 4. Removing @mentions

def remove_mentions(content):
    return re.sub('(@\S+)',' ', str(content))

df['content'] = df['content'].apply(lambda content: remove_mentions(content=content))
df['content'].head()

0                      nice night trip uk delhi. üòçüòçüòç
1    may soul rip. nation family fellow uk citizens...
2      ‡§Ö‡§§‡•ç‡§Ø‡§Ç‡§§ ‡§¶‡•Å‡§ñ‡§¶ ‡§¶‡§ø‡§µ‡§Ç‡§ó‡§§ ‡§Ü‡§§‡•ç‡§Æ‡§æ ‡§ï‡•ã ‡§∂‡•ç‡§∞‡•Ä ‡§ö‡§∞‡§£‡•ã‡§Ç ‡§Æ‡•á‡§Ç ‡§â...
3                                    firki queen üò≠  sc
4      called great britain looted 45 trillion usd ...
Name: content, dtype: object

In [170]:
# 5. Removing numbers

def remove_numericals(content):
        return re.sub('[0-9]+', '', content)

df['content'] = df['content'].apply(lambda content: remove_numericals(content=content))
df['content'].head()

0                      nice night trip uk delhi. üòçüòçüòç
1    may soul rip. nation family fellow uk citizens...
2      ‡§Ö‡§§‡•ç‡§Ø‡§Ç‡§§ ‡§¶‡•Å‡§ñ‡§¶ ‡§¶‡§ø‡§µ‡§Ç‡§ó‡§§ ‡§Ü‡§§‡•ç‡§Æ‡§æ ‡§ï‡•ã ‡§∂‡•ç‡§∞‡•Ä ‡§ö‡§∞‡§£‡•ã‡§Ç ‡§Æ‡•á‡§Ç ‡§â...
3                                    firki queen üò≠  sc
4      called great britain looted  trillion usd in...
Name: content, dtype: object

In [171]:
# 6. Removing punctuations
PUNCTUATIONS = string.punctuation
print('Punctuation list:')
print('------------------')
print(PUNCTUATIONS)

def remove_punctuations(content):
    return str(content).translate(str.maketrans('', '', PUNCTUATIONS))

df['content'] = df['content'].apply(lambda content: remove_punctuations(content=content))
df['content'].head()

Punctuation list:
------------------
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

0                       nice night trip uk delhi üòçüòçüòç
1    may soul rip nation family fellow uk citizens ...
2      ‡§Ö‡§§‡•ç‡§Ø‡§Ç‡§§ ‡§¶‡•Å‡§ñ‡§¶ ‡§¶‡§ø‡§µ‡§Ç‡§ó‡§§ ‡§Ü‡§§‡•ç‡§Æ‡§æ ‡§ï‡•ã ‡§∂‡•ç‡§∞‡•Ä ‡§ö‡§∞‡§£‡•ã‡§Ç ‡§Æ‡•á‡§Ç ‡§â...
3                                    firki queen üò≠  sc
4      called great britain looted  trillion usd in...
Name: content, dtype: object

In [173]:
# 7. Remove unwanted emojis

df['content'] = df['content'].apply(lambda content: clean(str(content), no_emoji=True))
df['content'].head()

0                             nice night trip uk delhi
1    may soul rip nation family fellow uk citizens ...
2    horrendous shame state acts happenstate govern...
3                                       firki queen sc
4       called great britain looted trillion usd india
Name: content, dtype: object

In [175]:
# 8. Tokenizing the texts
df['content'] = df['content'].apply(lambda content: word_tokenize(str(content)))
df['content'].head()

0                       [nice, night, trip, uk, delhi]
1    [may, soul, rip, nation, family, fellow, uk, c...
2    [horrendous, shame, state, acts, happenstate, ...
3                                   [firki, queen, sc]
4    [called, great, britain, looted, trillion, usd...
Name: content, dtype: object

In [176]:
# 9. Stemming of the words
stemmer = nltk.PorterStemmer()
def stemming_content(content):
    text = [stemmer.stem(word) for word in content]
    return content

df['content']= df['content'].apply(lambda content: stemming_content(content=content))
df['content'].head()

0                       [nice, night, trip, uk, delhi]
1    [may, soul, rip, nation, family, fellow, uk, c...
2    [horrendous, shame, state, acts, happenstate, ...
3                                   [firki, queen, sc]
4    [called, great, britain, looted, trillion, usd...
Name: content, dtype: object

In [177]:
# 10. Lemmatizing the tokens
lemmatizer = nltk.WordNetLemmatizer()
def lemmatizing_content(content):
    text = [lemmatizer.lemmatize(word) for word in content]
    return content

df['content'] = df['content'].apply(lambda content: lemmatizing_content(content))
df['content'].head()

0                       [nice, night, trip, uk, delhi]
1    [may, soul, rip, nation, family, fellow, uk, c...
2    [horrendous, shame, state, acts, happenstate, ...
3                                   [firki, queen, sc]
4    [called, great, britain, looted, trillion, usd...
Name: content, dtype: object

In [174]:
# Writing pre-processed data into csv
output_file_path = 'd:\\Varshini\\CourseWork\\Machine Learning\\project\\MachineLearning-group-project\\Preprocessing'
df.to_csv('tweets_india_preprocessed.csv', index=False)