In [48]:
# pip install cleantext

In [49]:
import numpy as np
import pandas as pd
import string
import nltk
import os
import glob
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from cleantext import clean
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [50]:
# Get base path
base_path  = os.getcwd()

# Set file path
input_file_path = base_path + '\\dataset\\'

In [51]:
# Combine all countries tweet
joined_files = os.path.join(input_file_path, "tweets_*.csv")

joined_list = glob.glob(joined_files)

# Join the files
df = pd.concat(map(pd.read_csv, joined_list), ignore_index=True)
print(df)

# Write combined tweets onto a new file
df.to_csv(input_file_path + '\\' + 'all_tweets.csv', mode='a', index=False, header=False)

      Unnamed: 0                       date  \
0              0  2022-09-09 18:06:04+00:00
1              1  2022-09-09 09:51:49+00:00
2              2  2022-09-09 03:04:00+00:00
3              3  2022-09-09 02:15:19+00:00
4              4  2022-09-08 23:45:04+00:00
...          ...                        ...
4060         465  2022-09-08 01:28:45+00:00
4061         466  2022-09-08 01:02:20+00:00
4062         467  2022-09-08 00:39:11+00:00
4063         468  2022-09-08 00:31:37+00:00
4064         469  2022-09-08 00:05:41+00:00

                                                content
0     Pearl Jam cover The Beatles' 'Her Majesty' in ...
1     A real #bosslady üôèüèºü•≤her dedication and commitm...
2     Posted @withregram ‚Ä¢ @african_liberation_day R...
3     Reporting today with @ACarterglobal  for @glob...
4     The choir is practicing tonight for a long-pla...
...                                                 ...
4060  cuffing anything makes me want to rip my hair ...
4061  "The Death of Right and Wrong" by my friend @H...
4062  Awesome match for the #AEW Trio Titles. Death ...
4063  3 more packs of ‚Äò21 Bowman Chrome Sapphire bef...
4064  @LaDodgersTalk Couple weeks after my dad passe...

[4065 rows x 3 columns]

In [52]:
# Read the combined data set
df = pd.read_csv(input_file_path + 'all_tweets.csv')
df.columns = ['id', 'date', 'content']

df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,A real #bosslady üôèüèºü•≤her dedication and commitm...
1,2,2022-09-09 03:04:00+00:00,Posted @withregram ‚Ä¢ @african_liberation_day R...
2,3,2022-09-09 02:15:19+00:00,Reporting today with @ACarterglobal for @glob...
3,4,2022-09-08 23:45:04+00:00,The choir is practicing tonight for a long-pla...
4,5,2022-09-08 19:12:20+00:00,"RIP Your Royal Majesty üò¢ @ Toronto, Ontario ht..."

In [53]:
print('-------------------')
print('Dataset content')
print('-------------------')
print(df.head())
print('-------------------')
# Some information about the data set
print('Length of data set: ', len(df))
print('Shape of data set: ', df.shape)

print('-------------------')
print('Dataset information')
print('-------------------')
df.info()

-------------------
Dataset content
-------------------
   id                       date  \
0   1  2022-09-09 09:51:49+00:00
1   2  2022-09-09 03:04:00+00:00
2   3  2022-09-09 02:15:19+00:00
3   4  2022-09-08 23:45:04+00:00
4   5  2022-09-08 19:12:20+00:00

                                             content
0  A real #bosslady üôèüèºü•≤her dedication and commitm...
1  Posted @withregram ‚Ä¢ @african_liberation_day R...
2  Reporting today with @ACarterglobal  for @glob...
3  The choir is practicing tonight for a long-pla...
4  RIP Your Royal Majesty üò¢ @ Toronto, Ontario ht...
-------------------
Length of data set:  4064
Shape of data set:  (4064, 3)
-------------------
Dataset information
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4064 entries, 0 to 4063
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       4064 non-null   int64
 1   date     4064 non-null   object
 2   content  4064 non-null   object
dtypes: int64(1), object(2)
memory usage: 95.4+ KB

In [54]:
# Check for null values - needs to be zero
np.sum(df.isnull().any(axis=1))

0

In [55]:
# 1. Converting all text to lower case
def convert_to_lower_case(data_set):
    data_set['content'] = data_set['content'].str.lower()

convert_to_lower_case(df)
df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,a real #bosslady üôèüèºü•≤her dedication and commitm...
1,2,2022-09-09 03:04:00+00:00,posted @withregram ‚Ä¢ @african_liberation_day r...
2,3,2022-09-09 02:15:19+00:00,reporting today with @acarterglobal for @glob...
3,4,2022-09-08 23:45:04+00:00,the choir is practicing tonight for a long-pla...
4,5,2022-09-08 19:12:20+00:00,"rip your royal majesty üò¢ @ toronto, ontario ht..."

In [56]:
# 2. Removing stop words (un-necessary words) - using nltk's pre-defined stop words
# STOP_WORDS = set(stopwords.words('english'))
# print('Stop word list:')
# print('----------------')
# print(STOP_WORDS)

# def remove_stop_words(content):
#    return " ".join([text for text in str(content).split() if text not in STOP_WORDS])

# df['content'] = df['content'].apply(lambda content: remove_stop_words(content=content))
# df.head()

In [57]:
# 3. Removing URLs
def remove_URLS(content):
    return re.sub('((www.\S+)|(http[s]?://\S+))',' ', str(content))

df['content'] = df['content'].apply(lambda content: remove_URLS(content=content))
#df['content'].head()
df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,a real #bosslady üôèüèºü•≤her dedication and commitm...
1,2,2022-09-09 03:04:00+00:00,posted @withregram ‚Ä¢ @african_liberation_day r...
2,3,2022-09-09 02:15:19+00:00,reporting today with @acarterglobal for @glob...
3,4,2022-09-08 23:45:04+00:00,the choir is practicing tonight for a long-pla...
4,5,2022-09-08 19:12:20+00:00,"rip your royal majesty üò¢ @ toronto, ontario"

In [58]:
# 4. Removing @mentions
def remove_mentions(content):
    return re.sub('(@\S+)',' ', str(content))

df['content'] = df['content'].apply(lambda content: remove_mentions(content=content))
#df['content'].head()
df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,a real #bosslady üôèüèºü•≤her dedication and commitm...
1,2,2022-09-09 03:04:00+00:00,posted ‚Ä¢ reposted from may they rest in ...
2,3,2022-09-09 02:15:19+00:00,reporting today with for on the death of ...
3,4,2022-09-08 23:45:04+00:00,the choir is practicing tonight for a long-pla...
4,5,2022-09-08 19:12:20+00:00,"rip your royal majesty üò¢ @ toronto, ontario"

In [59]:
# 5. Removing numbers
def remove_numericals(content):
        return re.sub('[0-9]+', '', content)

df['content'] = df['content'].apply(lambda content: remove_numericals(content=content))
#df['content'].head()
df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,a real #bosslady üôèüèºü•≤her dedication and commitm...
1,2,2022-09-09 03:04:00+00:00,posted ‚Ä¢ reposted from may they rest in ...
2,3,2022-09-09 02:15:19+00:00,reporting today with for on the death of ...
3,4,2022-09-08 23:45:04+00:00,the choir is practicing tonight for a long-pla...
4,5,2022-09-08 19:12:20+00:00,"rip your royal majesty üò¢ @ toronto, ontario"

In [60]:
# 6. Removing punctuations
PUNCTUATIONS = string.punctuation
print('Punctuation list:')
print('------------------')
print(PUNCTUATIONS)

def remove_punctuations(content):
    return str(content).translate(str.maketrans('', '', PUNCTUATIONS))

df['content'] = df['content'].apply(lambda content: remove_punctuations(content=content))
# df['content'].head()
df.head()

Punctuation list:
------------------
!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

,id,date,content
0,1,2022-09-09 09:51:49+00:00,a real bosslady üôèüèºü•≤her dedication and commitme...
1,2,2022-09-09 03:04:00+00:00,posted ‚Ä¢ reposted from may they rest in ...
2,3,2022-09-09 02:15:19+00:00,reporting today with for on the death of ...
3,4,2022-09-08 23:45:04+00:00,the choir is practicing tonight for a longplan...
4,5,2022-09-08 19:12:20+00:00,rip your royal majesty üò¢ toronto ontario

In [61]:
# Remove unicodes
def remove_unicodes(content):
        return str(content).encode('ascii', errors='ignore').decode()

df['content'] = df['content'].apply(lambda content: remove_unicodes(content=content))
df['content'].head()

0    a real bosslady her dedication and commitment ...
1    posted      reposted from   may they rest in p...
2    reporting today with    for   on the death of ...
3    the choir is practicing tonight for a longplan...
4           rip your royal majesty   toronto ontario
Name: content, dtype: object

In [62]:
# df[df.colA.map(lambda x: x.isascii())]

df1=df.copy()
# df1['DB_user'].str.encode('ascii', 'ignore').str.decode('ascii')
# df1['new'] = df1['content'].apply(lambda content: content.encode('ascii', 'ignore').str.decode('ascii'))
# df1.head()

In [63]:
# 7. Removing 2 letter random words, as it gives no meaning
def remove_2letter_words(content):
    w = re.sub(r'\b\w{1,2}\b', '', content)
    return re.sub(' +', ' ', w)

df['content'] = df['content'].apply(lambda content: remove_2letter_words(content=content))
df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,real bosslady her dedication and commitment w...
1,2,2022-09-09 03:04:00+00:00,posted reposted from may they rest peace and p...
2,3,2022-09-09 02:15:19+00:00,reporting today with for the death queen eliza...
3,4,2022-09-08 23:45:04+00:00,the choir practicing tonight for longplanned m...
4,5,2022-09-08 19:12:20+00:00,rip your royal majesty toronto ontario

In [64]:
# 8. convert emoji to text
def emoji_convert(content):
    return kp_all_emoji_emoticons.replace_keywords(content)

from emot.emo_unicode import UNICODE_EMOJI, UNICODE_EMOJI_ALIAS, EMOTICONS_EMO
from flashtext import KeywordProcessor
all_emoji_emoticons = {**EMOTICONS_EMO,**UNICODE_EMOJI_ALIAS, **UNICODE_EMOJI_ALIAS}
all_emoji_emoticons = {k:v.replace(":","").replace("_"," ").strip() for k,v in all_emoji_emoticons.items()}
kp_all_emoji_emoticons = KeywordProcessor()
for k,v in all_emoji_emoticons.items():
    kp_all_emoji_emoticons.add_keyword(k, v)

df['content'] = df['content'].apply(lambda content: emoji_convert(content=content))

df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,real bosslady her dedication and commitment w...
1,2,2022-09-09 03:04:00+00:00,posted reposted from may they rest peace and p...
2,3,2022-09-09 02:15:19+00:00,reporting today with for the death queen eliza...
3,4,2022-09-08 23:45:04+00:00,the choir practicing tonight for longplanned m...
4,5,2022-09-08 19:12:20+00:00,rip your royal majesty toronto ontario

In [65]:
# 9. Remove unwanted emojis
df['content'] = df['content'].apply(lambda content: clean(str(content), no_emoji=True))
df.head()

,id,date,content
0,1,2022-09-09 09:51:49+00:00,real bosslady her dedication and commitment wi...
1,2,2022-09-09 03:04:00+00:00,posted reposted from may they rest peace and p...
2,3,2022-09-09 02:15:19+00:00,reporting today with for the death queen eliza...
3,4,2022-09-08 23:45:04+00:00,the choir practicing tonight for longplanned m...
4,5,2022-09-08 19:12:20+00:00,rip your royal majesty toronto ontario

In [66]:
# 10. Removing meaningless words
nltk.download('words')
words = set(nltk.corpus.words.words())
df['nonEnglish'] = df['content'].apply(lambda x: x.isascii() if isinstance(x, str) else False)
df = df[df['nonEnglish'] == True]
df = df.drop(['nonEnglish'], axis=1)
df['content'] = df['content'].apply(lambda content: remove_2letter_words(content=content))
# df['content'] = df['content'].apply(lambda content: remove_stop_words(content=content))
df['content'] = df['content'].apply(lambda content: remove_punctuations(content=content))

df.head()

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

,id,date,content
0,1,2022-09-09 09:51:49+00:00,real bosslady her dedication and commitment wi...
1,2,2022-09-09 03:04:00+00:00,posted reposted from may they rest peace and p...
2,3,2022-09-09 02:15:19+00:00,reporting today with for the death queen eliza...
3,4,2022-09-08 23:45:04+00:00,the choir practicing tonight for longplanned m...
4,5,2022-09-08 19:12:20+00:00,rip your royal majesty toronto ontario

In [67]:
# Get base path
base_path  = os.getcwd()

# Set file path
input_file_path = base_path + '\\CleanedDatasets\\'

df.to_csv(input_file_path + '\\' + 'tweets_cleaned.csv', mode='a', index=False, header=False)