In [20]:
import numpy as np
import pandas as pd
import string
import nltk
import os
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from cleantext import clean
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\sureshv\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [21]:
# Get base path
base_path  =os.getcwd()

# Set file path
input_file_path = base_path + '\\CleanedDatasets\\'

In [22]:
# Read the data set
df = pd.read_csv(input_file_path + 'SouthAsia_Cleaned.csv')
df.head()

,id,date,content
0,0,2022-09-09 20:45:28+00:00,nice night trip delhi
1,1,2022-09-09 20:41:19+00:00,may soul rip nation family fellow citizens mom...
2,2,2022-09-09 19:25:57+00:00,horrendous shame state acts happenstate govern...
3,3,2022-09-09 19:14:54+00:00,firki queen
4,4,2022-09-09 19:13:38+00:00,called great britain looted trillion usd india

In [23]:
# Adding emotions
def emotion_labelling(content):
    from nrclex import NRCLex
    text_object = NRCLex(content)
    emoDf = df.copy()
    topEmo = text_object.top_emotions
    return topEmo[0][0]

df['Emotion'] = df['content'].apply(lambda content: emotion_labelling(str(content)))
df.head()

,id,date,content,Emotion
0,0,2022-09-09 20:45:28+00:00,nice night trip delhi,surprise
1,1,2022-09-09 20:41:19+00:00,may soul rip nation family fellow citizens mom...,negative
2,2,2022-09-09 19:25:57+00:00,horrendous shame state acts happenstate govern...,fear
3,3,2022-09-09 19:14:54+00:00,firki queen,fear
4,4,2022-09-09 19:13:38+00:00,called great britain looted trillion usd india,fear

In [24]:
df1 = df.copy()

In [25]:
# Encoding emotions

def label_emotion(label):
    if label == "fear":return 0
    elif label == "anger":return 1
    elif label == "anticipation":return 2
    elif label == "trust":return 3
    elif label == "surprise":return 4
    elif label == "positive":return 5
    elif label == "negative":return 6
    elif label == "sadness":return 7
    elif label == "disgust":return 8
    elif label == "joy":return 9

df['Emotion'] = df['Emotion'].apply(lambda content: label_emotion(content))
df.head()

,id,date,content,Emotion
0,0,2022-09-09 20:45:28+00:00,nice night trip delhi,4
1,1,2022-09-09 20:41:19+00:00,may soul rip nation family fellow citizens mom...,6
2,2,2022-09-09 19:25:57+00:00,horrendous shame state acts happenstate govern...,0
3,3,2022-09-09 19:14:54+00:00,firki queen,0
4,4,2022-09-09 19:13:38+00:00,called great britain looted trillion usd india,0

In [26]:
# Get base path
base_path  = os.getcwd()

# Set file path
input_file_path = base_path + '\\EmotionLabelled\\'

df.to_csv(input_file_path + '\\' + 'SouthAsia_labelled.csv', index=False)